@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  width: max-content;
  max-width: 100%; /* Limits the width to be 'max' */
  height: 100%;
}
  @keyframes dropdown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .dropdown-enter {
    animation: dropdown 0.3s ease-out forwards;
  }

/* styles.css */
.blur-top {
  position: relative;
}

.blur-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px; /* Adjust the height as needed */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(15px); /* Adjust the blur intensity as needed */
}

.blur-bottom {
  position: relative;
}

.blur-bottom::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px; /* Adjust the height as needed */
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(15px); /* Adjust the blur intensity as needed */
}

/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=UnifrakturCook:wght@700&display=swap');

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-old-english {
    font-family: 'UnifrakturCook', serif;
}
.font-roboto{
  font-family: "Roboto", sans-serif;
}






.hover-underline-animation {
  display: inline-block;
  position: relative;
  top:5px;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleY(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: rgb(112, 194, 231);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}




.hover-dropdown {
  display: inline-block;
  position: relative;
}

.hover-dropdown::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: rgb(2, 89, 129);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-dropdown:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}